*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
#top{
    position: relative;
    width: 100%;
    height: 60%;
    background-image: url(https://images.unsplash.com/photo-1698703302438-0e90680207ca?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;  
}
#overly{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#text{
    position: absolute;
    width: 100%;
    /* niche se 20% */
    bottom: 20%;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    color: white;
}
#text h1{
    font-size: 5vw;
}
#bottom{
    width: 100%;
    height: 40%;
    background-color: blue;
    display: flex;
}
#bone{
    width: 25%;
    height: 100%;
    background-color: green;
}
#btwo{
    width: 25%;
    height: 100%;
    background-color: white;
}
#bthree{
    width: 25%;
    height: 100%;
    background-color: black;
}
#bfour{     
    width: 25%;
    height: 100%;
    background-color: yellow;
}